.sidebar {
    width: 25%;
    padding-left: 20px;
}

.widget_block {
    width: 100%;
}

.sidebar-img-AF img {
    width: 80%;
    object-fit: contain;
}

.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover {
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
}
.wp-block-social-links .wp-social-link a {
    padding: 0.25em;
}
.wp-block-social-links .wp-social-link svg {
    width: 1em;
    height: 1em;
}
.wp-block-social-links .wp-social-link span:not(.screen-reader-text) {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.65em;
}
.wp-block-social-links.has-small-icon-size {
    font-size: 16px;
}
.wp-block-social-links,
.wp-block-social-links.has-normal-icon-size {
    font-size: 24px;
}
.wp-block-social-links.has-large-icon-size {
    font-size: 36px;
}
.wp-block-social-links.has-huge-icon-size {
    font-size: 48px;
}
.wp-block-social-links.aligncenter {
    justify-content: center;
    display: flex;
}
.wp-block-social-links.alignright {
    justify-content: flex-end;
}
.wp-block-social-link {
    display: block;
    border-radius: 9999px;
    transition: transform 0.1s ease;
    height: auto;
}
@media (prefers-reduced-motion: reduce) {
    .wp-block-social-link {
        transition-duration: 0s;
        transition-delay: 0s;
    }
}
.wp-block-social-link a {
    align-items: center;
    display: flex;
    line-height: 0;
    transition: transform 0.1s ease;
}
.wp-block-social-link:hover {
    transform: scale(1.1);
}
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:active,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:visited,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg {
    color: currentColor;
    fill: currentColor;
}

.wp-block-social-links .wp-social-link {
    background: none;
}
.wp-block-social-links .wp-social-link a {
    padding: 0;
}
.wp-block-social-links .wp-social-link svg {
    width: 1.25em;
    height: 1.25em;
}

.wp-block-social-links .wp-social-link-facebook {
    color: #1778f2;
}

.wp-block-social-links .wp-social-link-instagram {
    color: #f00075;
}

.wp-block-social-links .wp-social-link-linkedin {
    color: #0d66c2;
}

.wp-block-social-links .wp-social-link-patreon {
    color: #ff424d;
}
.wp-block-social-links .wp-social-link-pinterest {
    color: #e60122;
}
.wp-block-social-links .wp-social-link-tumblr {
    color: #011835;
}
.wp-block-social-links .wp-social-link-twitter {
    color: #1da1f2;
}

.wp-block-social-links .wp-social-link-wordpress {
    color: #3499cd;
}

.wp-block-social-links .wp-social-link-youtube {
    color: red;
}
.wp-block-social-links .wp-social-link {
    width: auto;
}
.wp-block-social-links .wp-social-link a {
    padding-left: 0.66667em;
    padding-right: 0.66667em;
}
